@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
   @apply bg-gradient-to-br from-[#081128] to-[#081a47] h-screen w-screen overflow-x-hidden;
}

nav div a {
   @apply text-white hover:text-purple;
}

.custom-shape-divider-bottom-1725623496 {
   position: absolute;
   bottom: 0;
   left: 0;
   top: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.custom-shape-divider-bottom-1725623496 svg {
   position: relative;
   display: block;
   width: calc(219% + 1.3px);
   height: 132px;
   transform: rotateY(180deg);
   animation: wave-animation 15s linear infinite;
   @apply top-0 left-0 right-0;
}

.custom-shape-divider-bottom-1725623496 .shape-fill {
   fill: white;
}

@keyframes wave-animation {
   0% {
      transform: translateX(0) rotateY(180deg);
   }
   100% {
      transform: translateX(-50%) rotateY(180deg);
   }
   0% {
      transform: translateX(0) rotateY(180deg);
   }
}
